/*Sombra*/
.modal {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;

}

.hidden {}

/* MODAL BOX */
.modal-container {
    background: #ffffff;
    border-radius: 16px;
    width: 100%;
    max-width: 640px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
    overflow: hidden;
}

.modal-container .modal-header {
    background: linear-gradient(90deg, #0e59fe, #020066);
    padding: 16px 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal-header h2 {
    color: #ffffff;
    font-size: 18px;
    margin: 0;
}

.modal-close {
    background: none;
    border: none;
    color: #ffffff;
    font-size: 18px;
    cursor: pointer;
}

.modal-form {
    padding: 24px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.input-produto {
    width: 100%;
    height: 56px;
    border: 1px solid #d1d5db;
    padding: 0 16px;
    border-radius: 8px;
    font-size: 16px;
    outline: none;
}

.input-produto:focus {
    border-color: #0e59fe;
}

.botao {
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    border-radius: 8px;
    cursor: pointer;
}

.proximo,
.adicionar,
.finalizar,
.confirmar {
    background: #082db2;
    color: white;
    border: none;
}

.cancelar {
    background: #e5e7eb;
    border: none;
}

.botao:hover {
    opacity: 0.9;
}


/*Modal Insumos*/
.modal-container.insumos {
    max-width: 1000px;
    background: #f3f4f6;
    border-radius: 18px;
    display: none;
    overflow: hidden;
    box-shadow: 0 25px 50px rgba(0,0,0,0.15);
}

.modalBoxInsumos {
    padding: 32px;
    display: grid;
    grid-template-columns: 2.5fr 1fr;
    gap: 32px;
}


.box-tabela {
    background: #ffffff;
    padding: 20px;
    border-radius: 14px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.05);
}

table {
    width: 100%;
    border-collapse: collapse;
}

thead {
    background: #f9fafb;
}

th {
    padding: 14px;
    text-align: center;
    font-weight: 600;
    border-bottom: 1px solid #e5e7eb;
}

td {
    padding: 12px;
    text-align: center;
    border-bottom: 1px solid #f1f1f1;
}


.modal-form {
    margin-top: 24px;
}

.modal-form .col-2 {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.modal-form input,
.modal-form select {
    height: 48px;
    border-radius: 10px;
    border: 1px solid #d1d5db;
    padding: 0 14px;
    font-size: 15px;
    background: #ffffff;
}


.finalizar {
    height: 56px;
    border-radius: 12px;
    background: #1d3bbf;
    color: #ffffff;
    font-weight: 600;
    border: none;
}

.cancelar {
    height: 56px;
    border-radius: 12px;
    background: #e5e7eb;
    border: none;
    font-weight: 600;
   
}

.adicionar {
    height: 48px;
    border-radius: 10px;
    background: #1d3bbf;
    color: #ffffff;
    border: none;
    font-weight: 600;
}

/*Mostrar Ordem*/

.mostrarOrdem {
    display: none;
    height: 80%;
}

.dadosOP {
    padding: 24px;
    display: grid;
    grid-template-rows: 2fr 2fr 2fr 2fr;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-areas:
        "nome insumos ."
        "quantidade insumos confirmar"
        "custou insumos cancelar"
        "custot insumos .";
    height: 85%;
    width: 100%;
    gap: 16px;
    inset: 0;
}

.dadosOP p {
    grid-area: insumos;
    align-self: flex-start;
    justify-self: center;
    font-size: 24px;
    display: flex;
    align-items: start;
}

.dadosOP #labelNomeProduto {
    grid-area: nome;
    align-self: start;
}

.dadosOP #nomeProduto {
    grid-area: nome;
    align-self: self-end;
}

.dadosOP #labelQuantidade {
    grid-area: quantidade;
    align-self: flex-start;
}

.dadosOP #quantidadeProduto {
    grid-area: quantidade;
    align-self: self-end;
}

.dadosOP #labelCustou {
    grid-area: custou;
    align-self: flex-start;
}

.dadosOP #custou {
    grid-area: custou;
    align-self: self-end;
}

.dadosOP #labelCustot {
    grid-area: custot;
    align-self: flex-start;
}

.dadosOP #custot {
    grid-area: custot;
    align-self: self-end;
}

.dadosOP .cancelar {
    grid-area: cancelar;
    align-self: self-end;
    justify-self: end;
    width: 90%;
    height: 90%;
}

.dadosOP .confirmar {
    grid-area: confirmar;
    align-self: center;
    justify-self: end;
    width: 90%;
    height: 90%;
}
.dadosOP #dadosTabela{
    grid-area: insumos;
    overflow-y: auto;
}
.dadosOP #dadosTabela #tabelaIN{
    
    align-self: flex-start;
    justify-self: center;
    margin-top: 2rem;
    height: auto;
}
#tabelaIN tr td{
    border: none;
    border-bottom: 1px solid black;
}