.principal {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background: rgba(255, 255, 255);
}


/* MODAL BASE */

.boxDadosProduto {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
}

.boxDadosInsumos {
    display: none;
}
.boxDadosOrdem{
    display: none;
}


/* MODAL HEADER */
.modal-header {
    background: linear-gradient(90deg, #0e59fe, #020066);
    padding: 16px 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10%;
    width: 100%;
}

.modal-header h2 {
    color: #ffffff;
    font-size: 18px;
    margin: 0;
}

.modal-close {
    background: none;
    border: none;
    color: #ffffff;
    font-size: 18px;
    cursor: pointer;
}

/* FORM DO PRODUTO */
.modal-form {
    padding: 24px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.modal-form.dadosProduto {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.input-produto {
    width: 100%;
    height: 56px;
    border: 1px solid #d1d5db;
    padding: 0 16px;
    border-radius: 8px;
    font-size: 16px;
    outline: none;
    grid-column: span 2;
}

.input-produto:focus {
    border-color: #0e59fe;
}

/* BOTÕES */
.botao {
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    border-radius: 8px;
    cursor: pointer;
    font-size: 15px;
}

.boxBotoes {
    width: 100%;
    display: flex;
    justify-content: end;
}

.proximo.dadosProduto {
    width: 30%;
}

.proximo,
.adicionar,
.finalizar,
.confirmar {
    background: #082db2;
    color: white;
    border: none;
}

.cancelar {
    background: #e5e7eb;
    border: none;
    color: #111;
}

.botao:hover {
    opacity: 0.9;
}

/* MODAL INSUMOS */
.modal-container.insumos {
    max-width: 1000px;
    width: 95%;
}

.modalBoxInsumos {
    padding: 32px;
    display: grid;
    grid-template-columns: 2.5fr 1fr;
    gap: 32px;
}

.box-tabela {
    background: #ffffff;
    padding: 20px;
    border-radius: 14px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.05);
}

table {
    width: 100%;
    border-collapse: collapse;
}

thead {
    background: #f9fafb;
}

th {
    padding: 14px;
    text-align: center;
    font-weight: 600;
    border-bottom: 1px solid #e5e7eb;
}

td {
    padding: 12px;
    text-align: center;
    border-bottom: 1px solid #f1f1f1;
}


.modal-form .col-2 {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.modal-form input,
.modal-form select {
    height: 48px;
    border-radius: 10px;
    border: 1px solid #d1d5db;
    padding: 0 14px;
    font-size: 15px;
    background: #ffffff;
}

.adicionar {
    height: 48px;
    border-radius: 10px;
}

.finalizar {
    height: 56px;
    border-radius: 12px;
    background: #1d3bbf;
    color: #ffffff;
    font-weight: 600;
    border: none;
}

.cancelar {
    height: 56px;
    border-radius: 12px;
    background: #e5e7eb;
    border: none;
    font-weight: 600;
}

/* MODAL MOSTRAR ORDEM */
.modal-container.mostrarOrdem {
    max-width: 860px;
    width: 95%;
}

.dadosOP {
    padding: 24px;
    display: grid;
    grid-template-rows: auto auto auto auto;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-areas:
        "nome    insumos ."
        "quant   insumos confirmar"
        "custou  insumos cancelar"
        "custot  insumos .";
    gap: 16px;
    height: 85%;
    width: 100%;
}

.dadosOP p {
    grid-area: insumos;
    align-self: flex-start;
    justify-self: center;
    font-size: 24px;
    display: flex;
    align-items: start;
    margin: 0;
}

.dadosOP #labelNomeProduto {
    grid-area: nome;
    align-self: start;
}

.dadosOP #nomeProduto {
    grid-area: nome;
    align-self: end;
    margin: 0;
}

.dadosOP #labelQuantidade {
    grid-area: quant;
    align-self: start;
}

.dadosOP #quantidadeProduto {
    grid-area: quant;
    align-self: end;
    margin: 0;
}

.dadosOP #labelCustou {
    grid-area: custou;
    align-self: start;
}

.dadosOP #custou {
    grid-area: custou;
    align-self: end;
    margin: 0;
}

.dadosOP #labelCustot {
    grid-area: custot;
    align-self: start;
}

.dadosOP #custot {
    grid-area: custot;
    align-self: end;
    margin: 0;
}

.dadosOP .cancelar {
    grid-area: cancelar;
    align-self: end;
    justify-self: end;
    width: 90%;
}

.dadosOP .confirmar {
    grid-area: confirmar;
    align-self: center;
    justify-self: end;
    width: 90%;
}

.dadosOP #dadosTabela {
    grid-area: insumos;
    overflow-y: auto;
    margin-top: 3rem;
}

#tabelaIN tr td {
    border: none;
    border-bottom: 1px solid black;
}