<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../../ordensdeproducao/requisicao/requisicao.css?v=1.0.3">
  <link rel="stylesheet" href="../../menu/menu.css?v=1.0.3">
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>

<body>


  <div class="layout">
    <main class="principal">
      <div class="modal-header">
        <h2>Nova Ordem</h2>
        <button type="button" class="modal-close">✕</button>
      </div>
      <div class="boxDadosProduto">
        <form class="modal-form dadosProduto">
          <select class="input-produto">
            <option value="">Produto</option>
          </select>
          <input required type="number" placeholder="Quantidade" class="input-produto">
          <div class="boxBotoes">
            <button type="button" class="botao proximo dadosProduto">Próximo</button>
          </div>
        </form>
      </div>

      <!-- Modal de Insumos -->
      <div class="boxDadosInsumos">
        
        <div class="modalBoxInsumos">
          <div class="box-tabela">
            <table>
              <thead>
                <tr>
                  <th scope="col">Quantidade</th>
                  <th scope="col">Insumo</th>
                  <th scope="col">Fornecedor</th>
                  <th scope="col">Unidade de Medida</th>
                </tr>
              </thead>
              <tbody id="tabelaInsumos"></tbody>
            </table>
          </div>
          <form class="modal-form">
            <div class="col-2">
              <input required min="1" step="1" placeholder="Quantidade" class="campoQuant" type="number">
              <select class="campoInsumo">
                <option value="">Insumo</option>
              </select>
              <select class="campoFornecedor">
                <option value="">Fornecedor</option>
              </select>
              <select class="campoUniMed">
                <option value="">Medida</option>
                <option value="UN">UN</option>
                <option value="KG">KG</option>
                <option value="MT">MT</option>
              </select>
              <button type="button" class="adicionar botao">Adicionar</button>
              <button type="button" class="botao finalizar">Finalizar</button>
              <button type="button" class="botao cancelar">Cancelar</button>
            </div>
          </form>
        </div>
      </div>

      <!-- Modal de Detalhes da Ordem -->
      <div class="boxDadosOrdem">
        
        <div class="dadosOP">
          <label id="labelNomeProduto">Produto:</label>
          <h3 id="nomeProduto">O nome será aqui</h3>
          <label id="labelQuantidade">Quantidade:</label>
          <h3 id="quantidadeProduto">Quantidade será aqui</h3>
          <label id="labelCustou">Custo unitário:</label>
          <h3 id="custou">O custou será aqui</h3>
          <label id="labelCustot">Custo total:</label>
          <h3 id="custot">O custot será aqui</h3>
          <p>Insumos</p>
          <div id="dadosTabela">
            <table id="tabelaIN"></table>
          </div>
          <button type="button" class="botao cancelar">Cancelar</button>
          <button type="button" class="botao confirmar">Confirmar</button>
        </div>
      </div>
    </main>
  </div>

  <script type="module" src="../../../api/front/api.js" defer></script>
  <script type="module" src="../../menu/menu.js" defer></script>
  <script type="module" src="requisicao.js"></script>
</body>

</html>