<div class="layout">

    <aside class="sidebar">
        <div class="sidebar-header">
            <h1>Sewfy Admin</h1>
            <p>Painel de controle</p>
        </div>

        <nav class="nav">
            <button class="nav-btn">
                <span class="material-symbols-outlined">home</span>
                Home
            </button>

            <button class="nav-btn">
                <span class="material-symbols-outlined">add</span>
                Cadastrar Empresa
            </button>
        </nav>
    </aside>

</div>