
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}


.modal {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;
    z-index: 50;
    opacity: 0;
}


.modal.load{
    opacity:1;
}
.box-botoes{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    padding: 8px;
}

.editar {
    background: #082db2;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    
}
.botao{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.botao:hover {
    opacity: 0.9;
}

.modal-container {
    background: #ffffff;
    border-radius: 16px;
    width: 100%;
    max-width: 640px;
    overflow: hidden;
}

.modal-large {
    max-width: 768px;
}


.modal-header {
    background: linear-gradient(90deg, #0e59fe, #020066);
    padding: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal-header h2 {
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
}

.modal-close {
    background: none;
    border: none;
    color: #ffffff;
    font-size: 18px;
    cursor: pointer;
}


.modal-content {
    padding: 24px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
}
#detailsModal{
    z-index: 9999;
}
#detailsContent{
    display: grid;
    grid-template-areas:
    "nomeProd titulo" 
    "quant tabela" 
    "custou tabela" 
    "custot tabela" 
    ". botao";
}
#nomeProd{
    grid-area: nomeProd;
}
#quantProd{
    grid-area: quant;
}
#custou{
    grid-area: custou;
}
#custot{
    grid-area: custot;
}
#tituloTabela{
    grid-area: titulo;
}
.boxTabela{
    grid-area: tabela;
}
.box-botoes{
    grid-area: botao;
}