


<div id="detailsModal" class="modal hidden">
    <div class="modal-container modal-large">

        <div class="modal-header">
            <h2>Detalhes da Ordem</h2>
            <button type="button" class="modal-close" >✕</button>
        </div>

        <div id="detailsContent" class="modal-content">
          <p>Detalhes da Ordem</p>
          <p>Detalhes da Ordem</p>
          <p>Detalhes da Ordem</p>
          <p>Detalhes da Ordem</p>
          <p>Detalhes da Ordem</p>
          <p>Detalhes da Ordem</p>
          <p>Detalhes da Ordem</p>
          <p>Detalhes da Ordem</p>
          <p>Detalhes da Ordem</p>

          <p>Detalhes da Ordem</p>
          <p>Detalhes da Ordem</p>
          <p>Detalhes da Ordem</p>
        </div>
        <div class="box-botoes">
          <button type="button" class="botao editar"> Editar</button>
        </div>

    </div>
</div>

