<div id="detailsModal" class="modal hidden">
  <div class="modal-container modal-large">

    <div class="modal-header">
      <h2>Detalhes da Ordem</h2>
      <button type="button" class="modal-close">✕</button>
    </div>

    <div id="detailsContent" class="modal-content">
      <h3 id="nomeProd"></h3>
      <h3 id="quantProd"></h3>
      <h3 id="custou"></h3>
      <h3 id="custot"></h3>
      <h3 id="tituloTabela">Insumos</h3>
      <div class="boxTabela">
        <table class="tabelaInsumos">

        </table>
      </div>
      <div class="box-botoes">
        <button type="button" class="botao editar"> Editar</button>
      </div>
    </div>


  </div>
</div>