<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sewfy</title>

    <link rel="stylesheet" href="modalOrdemDeProducao.css">
</head>

<body>


<div id="detailsModal" class="modal hidden">
    <div class="modal-container modal-large">

        <div class="modal-header">
            <h2>Detalhes da Ordem</h2>
            <button type="button" class="modal-close">✕</button>
        </div>

        <div id="detailsContent" class="modal-content">
          <p>Detalhes da Ordem</p>
          <p>Detalhes da Ordem</p>
          <p>Detalhes da Ordem</p>
          <p>Detalhes da Ordem</p>
          <p>Detalhes da Ordem</p>
          <p>Detalhes da Ordem</p>
          <p>Detalhes da Ordem</p>
          <p>Detalhes da Ordem</p>
          <p>Detalhes da Ordem</p>

          <p>Detalhes da Ordem</p>
          <p>Detalhes da Ordem</p>
          <p>Detalhes da Ordem</p>
        </div>
        <div class="box-botoes">
          <button type="button" class="botao fechar"> Fechar</button>
          <button type="button" class="botao cancelar"> Cancelar</button>
        </div>

    </div>
</div>

</body>
</html>
