
<header class="header">
    <div class="header-container">
        <div class="header-content">
            <h1 class="logo" id="logo" >Sewfy</h1>

            <nav class="nav">
                <button id="btn-produtos" class="nav-btn" >
                    Produtos
                </button>

                <button id="btn-fornecedores" class="nav-btn">
                    Fornecedores
                </button>

                <button id="btn-ordem-producao" class="nav-btn">
                    Ordem de Produção
                </button>

                <button id="btn-contas-pagar" class="nav-btn">
                    Contas a Pagar
                </button>
            </nav>

            <a href="/view/login/login.html" class="logout" id="logout">Sair</a>
        </div>
    </div>
</header>