* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    background: #f9fafb;
    color: #111827;
    opacity: 0;
}

body.loaded {
    opacity: 1;
}




main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 32px;
}


.titulo-secao {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 20px;
}

.secao-contas {
    margin-top: 60px;
}

.barra {
    width: 4px;
    height: 32px;
    background: #082db2;
    border-radius: 4px;
}

h2 {
    font-size: 22px;
}


.card {
    background: white;
    border-radius: 12px;
    padding: 20px;
    border: 1px solid #e5e7eb;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}


.linha {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}


.label {
    font-size: 12px;
    color: #6b7280;
}

.codigoOP {
    font-weight: bold;
}


.status {
    margin-top: 6px;
    background: #ffedd5;
    color: #9a3412;
    display: inline-flex;
    align-items: center;
    gap: 6px;
    padding: 4px 10px;
    border-radius: 999px;
    font-size: 12px;
    font-weight: bold;
}

.icone-ampulheta {
    font-size: 16px;
}


.pendente {
    background: #fee2e2;
    color: #b91c1c;
    padding: 8px 14px;
    border-radius: 8px;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 6px;
}


button {
    background: #082db2;
    color: white;
    border: none;
    padding: 10px 18px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    opacity: 0.9;
}

.ordem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}