
   <div class="fornecedormodal">
    <div class="modal-container">
        
    <!-- Header -->
    <div class="modal-header">
      <h2 class="modal-title">Detalhes do Fornecedor</h2>
      <button class="material-symbols-outlined modal-close">close</button>
    </div>

    <!-- Content -->
    <div class="modal-content">

      <div class="details-grid">

        <div class="detail col-span-2">
          <span class="label">Nome</span>
          <span class="value">Clara Costura</span>
        </div>

        <div class="detail">
          <span class="label">CPF/CNPJ</span>
          <span class="value">999.999.999-99</span>
        </div>

        <div class="detail">
          <span class="label">Número de telefone</span>
          <span class="value">(99) 99999-9999</span>
        </div>

        <div class="detail">
          <span class="label">Endereço</span>
          <span class="value">Rua Geral Poço Grande, 1380</span>
        </div>

      </div>

    </div>
  </div>
</div>

