
   <div class="fornecedormodal">
    <div class="modal-container">
        
    <!-- Header -->
    <div class="modal-header">
      <h2 class="modal-title">Detalhes do Fornecedor</h2>
      <button class="material-symbols-outlined modal-close">close</button>
    </div>

    <!-- Content -->
    <div class="modal-content">

      <div class="details-grid">

        <div class="detail">
          <span class="label">Nome</span>
          <span class="value" id="modal-nome" data-field="nome"></span>
        </div>

        <div class="detail">
          <span class="label">Cadastro</span>
          <span class="value" id="modal-ativo" data-field="ativo"></span>
        </div>

        <div class="detail">
          <span class="label">CPF/CNPJ</span>
          <span class="value" id="modal-cpfcnpj" data-field="cpfCnpj"></span>
        </div>

        <div class="detail">
          <span class="label">Número de telefone</span>
          <span class="value" id="modal-telefone" data-field="telefone"></span>
        </div>

        <div class="detail col-span-2">
          <span class="label">Endereço</span>
          <span class="value" id="modal-endereco" data-field="endereco"></span>
        </div>

        <div class="detail col-span-2">
          <button class="btn-editar-fornecedor">
            Editar Fornecedor
          </button>
        </div>

      </div>

    </div>
  </div>
</div>

<script type="module" src="visualizarFornecedor.js"></script>